@import "../mixins";

.position {
    margin-top: 10%;
    padding: 5%;

    &__cont {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__iframe {
        width: 100%;

        @include mq(xs) {
            height: 400px;
        }
    }

    &__h2 {
        color: #131230;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        text-transform: uppercase;

        @include mq(xl) {
            font-size: 30px;
        }

        @include mq(xxl) {
            font-size: 35px;
        }
    }
}